    #cameraLayout {
        position: absolute;
        right: 580px;
        width: 350px;
        height: 300px;
        flex-wrap: wrap;
        gap: 5px;
        z-index: 1000;
        background-color: transparent;
top: 475px;
        display: none;
        flex-wrap: wrap;
        gap: 5px;
            z-index: 4;
    }


    .map-container {
        transform: scale(1.5);
        width: 350px;
        height: 300px;
        position: relative;
       
    }


    .room {
        position: absolute;
        border: 1px solid #777;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        color: #aaa;
    }

    /* Salle principale */
    .Dining-Area {
        width: 140px;
        height: 84px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Couloirs et pièces */
    .Backstage {
        width: 28px;
        height: 49px;
        top: 44%;
        left: 20%;
        transform: translateY(-50%);
    }

    .Rest-Room {
        width: 21px;
        height: 84px;
        top: 50%;
        right: 22%;
        transform: translateY(-50%);
    }

    .Showstage {
        width: 70px;
        height: 14px;
        top: 29%;
        left: 50%;
        transform: translateX(-50%);
    }

    .Office {
        width: 28px;
        height: 14px;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    .Pirate-Cove {
        width: 33px;
        height: 30px;
        top: 54%;
        left: 20%;
    }

    .Rest-Room-water-closet-h {
        width: 28px;
        height: 28px;
        top: 36%;
        right: 12%;
    }

    .Rest-Room-water-closet-f {
        width: 28px;
        height: 28px;
        top: 53%;
        right: 12%;
    }

    .room-supply-closet {
        width: 25px;
        height: 35px;
        top: 71%;
        left: 29%;
    }

    .Kitchen {
        width: 53px;
        height: 28px;
        top: 67%;
        right: 21%;
    }

    .Supply-Closet {
        width: 22px;
        height: 42px;
        bottom: 18%;
        left: 30%;
    }

    .West-Hall {
        width: 22px;
        height: 70px;
        bottom: 8%;
        left: 38%;
    }

    .East-Hall {
        width: 22px;
        height: 70px;
        bottom: 8%;
        right: 38%;
    }

    /* Caméras */
    .camera {
        width: 14px;
        height: 14px;
        background-color: #555;
        border: 1px inset #999;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6px;
        color: white;
        text-align: center;
    }

    .camera:hover {
        border: 1px outset #999;
        color: lightblue;
        cursor: pointer;
    }

    /* Positions des caméras */
    .cam-1a { top: 27%; left: 42%; }
    .cam-1b { top: 38%; right: 54%; }
    .cam-1c { top: 58%; right: 68%; }
    .cam-2a { bottom: 25%; left: 39%; }
    .cam-2b { bottom: 15%; left: 39%; }
    .cam-3 { bottom: 28%; left: 32%; }
    .cam-4a { bottom: 25%; right: 39%; }
    .cam-4b { bottom: 15%; right: 39%; }
    .cam-5 { top: 38%; left: 24%; }
    .cam-6 { bottom: 28%; left: 65%; }
    .cam-7 { bottom: 55%; right: 21%; }


    #camera-bg2 img{
        position: absolute;
        top: 0%;
        right: 0%;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 3;
    }

