@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&subset=latin,greek);

body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-color: #111;
  color: white;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}

#controls {

}

button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.closed {
  background-color: red;
}

button:not(.closed) {
  background-color: green;
}

#gameCanvas {
  display: block;
  width: 98vw;
  height: 98vh;
  border: none;
  margin: 0;
  padding: 0;
}

#powerUsage {
  font-size: 18px;
  margin: 10px;
  color: yellow;
  position: absolute;
  bottom: 0px;
      z-index: 4;
}

#gameOver {
  z-index: 100;
  background-color: black;
  padding: 20px;
}


/*transition*/
.display-0 {
  display: none;
}

.display-1 {
  display: block;
}

.preloader img {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: 999999;
}

.transition img {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  left:0;
  z-index: 9999;
}

.transition h2 {
  position: absolute;
  color: #fff;
  z-index: 9999;
}

#transition-night {
  top: 46%;
  left:46%;
}

#transition-start {
  top: 50%;
  left: 45%;
}

.animate-in {
  -webkit-animation: fadeIn 1.9s ease-in;
  animation: fadeIn 1.9s ease-in;
}

.animate-out {
  -webkit-transition: opacity 1.9s;
  transition: opacity 1.9s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}